/venv/
__all__to_include_public_interface/the_package/__pycache__/
__pycache__/
chat_room_sockets/__pycache__/
eletronica_potencia/Trabalho/__pycache__/
imports_using_subfolders/package1/__pycache__/
imports_using_subfolders/package1/package2/__pycache__/
integracao_de_sistemas/Trabalho2/__pycache__/
integracao_de_sistemas/Trabalho2/webservice/WebContent/WEB-INF/lib/
integracao_de_sistemas/Trabalho2/webservice/bin/WebContent/WEB-INF/lib/
integracao_de_sistemas/Trabalho2/webservice/bin/build/
integracao_de_sistemas/Trabalho2/webservice/bin/target/classes/
integracao_de_sistemas/Trabalho2/webservice/build/
integracao_de_sistemas/Trabalho2/webservice/target/test-classes/
inteligencia_artificial/Trabalho2/__pycache__/
inteligencia_artificial/Trabalho3/__pycache__/
inteligencia_artificial/__pycache__/
inteligencia_artificial/mdp_iteracao_valor/__pycache__/
inteligencia_artificial/mdp_policy_iteration/__pycache__/
modules_example/ecommerce/__pycache__/
modules_example/ecommerce/payments/__pycache__/
notebook/__pycache__/
program_in_modules/__pycache__/
user_autentication/__pycache__/
